*{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;

}
#main{
    background-color: burlywood;
    position:relative;
}
#main h1{
    text-align:center;
    text-transform: uppercase;
    font-weight: 60px;
}




